extends ./layout/index
block contenido
    main(class='container mt-5')
        div(class='row')
            div(class='col-md-5')
                img(src='img/nosotros.jpg' alt='imagen' class='img-fluid')
            div(class='col-md-7')
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum ipsum viverra felis varius tincidunt. Nunc aliquam, lorem vel posuere sollicitudin, ligula orci condimentum libero, quis congue nisl augue ut justo. Nulla sodales laoreet nisi, at porttitor justo auctor sit amet. Aenean tincidunt enim leo, sit amet congue diam scelerisque ut. Aenean feugiat nibh a rutrum venenatis. Nulla vulputate efficitur quam, vel aliquet metus condimentum at. Morbi quis interdum elit. Nulla facilisi. Morbi purus sem, congue ut varius semper, pellentesque a orci. Nunc felis ligula, efficitur eu sollicitudin nec, consequat non odio. Suspendisse auctor iaculis elit quis pellentesque.
                p placerat, felis non sagittis faucibus, est libero scelerisque diam, sit amet molestie metus felis a ante. Vivamus egestas, nisi ut commodo fermentum, mi odio finibus nisi, eget venenatis massa odio ac sem. Sed libero magna, feugiat ut fringilla in, suscipit id ipsum. Integer a placerat nisi. Aliquam tincidunt est a tincidunt aliquet. Curabitur ultricies a ante ut rhoncus. Cras enim urna, fermentum vel lorem sed, posuere sodales urna. Proin aliquet, enim non accumsan finibus, ante urna blandit nibh, eget porttitor turpis lectus id tellus. Morbi sit amet leo eget diam bibendum commodo.
                p tempor eleifend nibh non dignissim. Fusce iaculis ligula eget condimentum rhoncus. Mauris eleifend, enim ut fringilla dignissim, erat sem congue lacus, id vulputate elit ex ac mi. Phasellus et facilisis elit. Maecenas eget magna pharetra, hendrerit metus eget, faucibus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lorem tellus, egestas sit amet nisi non, pulvinar bibendum orci. Mauris egestas velit sed ex commodo facilisis. In sed tortor nec lorem ornare pulvinar. Nunc mattis id risus a tristique.
    div(class='listado-iconos')
        div(class='container mt-5 py-5 text-center')
            div(class='row')
                div(class='col-md-4')
                    img(src='img/icono_seguridad.svg' alt='icono' class='img-fluid mb-4')
                    h2(class='mb-4') Seguridad
                    p In a blandit nibh, eget facilisis nulla. Curabitur lacus sapien, varius quis scelerisque a, eleifend quis velit. Quisque sit amet odio vel nunc lobortis molestie sit amet ac lacus. Donec quam neque, pulvinar iaculis orci vitae, convallis hendrerit dui.

                div(class='col-md-4')
                    img(src='img/icono_destinos.svg' alt='icono' class='img-fluid mb-4')
                    h2(class='mb-4') Destinos
                    p In a blandit nibh, eget facilisis nulla. Curabitur lacus sapien, varius quis scelerisque a, eleifend quis velit. Quisque sit amet odio vel nunc lobortis molestie sit amet ac lacus. Donec quam neque, pulvinar iaculis orci vitae, convallis hendrerit dui.

                div(class='col-md-4')
                    img(src='img/icono_precios.svg' alt='icono' class='img-fluid mb-4')
                    h2(class='mb-4') Los mejores precios
                    p In a blandit nibh, eget facilisis nulla. Curabitur lacus sapien, varius quis scelerisque a, eleifend quis velit. Quisque sit amet odio vel nunc lobortis molestie sit amet ac lacus. Donec quam neque, pulvinar iaculis orci vitae, convallis hendrerit dui.

